<%- include('partials/top'); -%>

    <section id="header">
        <a href="#"><img src="img/logo.png" class="logo" alt=""></a>

        <div>
            <ul id="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="/shop">Shop</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/about">About</a></li>
                <li><a class="active" href="/contact">Contact</a></li>
                <li id="lg-bag"><a href="/cart"><i class="fas fa-shopping-bag"></i></a></li>
                <a href="#" id="close"><i class="fas fa-times"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <a href="cart.html"><i class="fas fa-shopping-bag"></i></a>

            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>

    <section id="page-header" class="about-header">
        <h2>#let's_talk</h2>
        <p>LEAVE A MESSAGE, We love hear from you!</p>
    </section>

    <section id="contact-details" class="section-p1">
        <div class="details">
            <span>GET IN TOUCH</span>
            <h2>Visit one of our agency locations or contact us today</h2>
            <h3>Head Office</h3>
            <div>
                <li>
                    <i class="fas fa-map"></i>
                    <p>56 Park Street Noida</p>
                </li>
                <li>
                    <i class="fas fa-envelope"></i>
                    <p>56 Park Street Noida</p>
                </li>
                <li>
                    <i class="fas fa-phone-alt"></i>
                    <p>56 Park Street Noida</p>
                </li>
                <li>
                    <i class="fas fa-clock"></i>
                    <p>56 Park Street Noida</p>
                </li>
            </div>
        </div>

        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3563.4056126945993!2d83.4331276!3d26.731429499999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39915ca3e2aa136b%3A0xc039bdf0211338a9!2sMadan%20Mohan%20Malaviya%20University%20Of%20Technology!5e0!3m2!1sen!2sin!4v1647978320856!5m2!1sen!2sin"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </section>

    <section id="form-details">
        <form action="">
            <span>LEAVE A MESSAGE</span>
            <h2>We love to hear from you</h2>
            <input type="text" name="" placeholder="Your Name" id="">
            <input type="email" name="" placeholder="E-mail" id="">
            <input type="text" name="" placeholder="Subject" id="">
            <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
            <button class="normal">Submit</button>
        </form>

        <div class="people">
            <div>
                <img src="img/people/1.png" alt="">
                <p><span>Rakesh Prajapati</span>Senior Marketing Manager <br> Phone: +91 9876543210 <br>Email: contact@example.com</p>
            </div>
            <div>
                <img src="img/people/2.png" alt="">
                <p><span>Sanjay Saxena</span>Senior Marketing Manager <br> Phone: +91 9876543210 <br>Email: contact@example.com</p>
            </div>
            <div>
                <img src="img/people/3.png" alt="">
                <p><span>Arman Malik</span>Senior Marketing Manager <br> Phone: +91 9876543210 <br>Email: contact@example.com</p>
            </div>
        </div>
        
    </section>





    <%- include('partials/footer'); -%>